html{
    height: 100%;
    background-color: blue;
    margin: 0;
    padding: 0;
}


/* 
    Id = '#' 
    Class = '.'
*/

/* 
    margin: 25px 50px 75px;
        top margin is 25px
        right and left margins are 50px
        bottom margin is 75px
*/

/* Header section */
#main-header{
    /*background-image: url("../images/xavSchool_pageHeader.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100vw;
    */
    font-size: xx-large;
    font-weight: bolder;
    color: #2415b3;
    text-align: center;
    margin: 25px auto 25px; /* Margin top-horizontal-bottom*/
}

#nav-container{
    background-color: #fff;
    margin: 25px 0;
    border: 2px solid #000;
    padding: 25px auto;
}

/* Navigation bar */
.navbar-tiles{
    background-color: rgba(65, 105, 225, 0.205);
    margin: 5px;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px dotted #000;
}
/* .navbar{
    background-color: #f5d442;
    color: #032152;
} */
.navbar-tiles:hover{
    background-color: rgba(65, 105, 225, 0.616);
    text-align: left;
}


@media screen and (max-width: 576px) {
    #main-header{
        font-size: 80%;
    }
}

/* ^^^ Why is this size duplicated? ^^^ */
@media screen and (min-width: 576px) {
    #main-header{
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) {
    #main-header{
        font-size: 120%;
    }
    .navbar-tiles{
        text-align: center;
        border-bottom: none;
    }
}

@media screen and (min-width: 992px) {
    #main-header{
        font-size: 150%;
    }
}

@media screen and (min-width: 1200px) {
    #main-header{
        font-size: 180%;
    }
}

@media screen and (min-width: 1400px) {
    #main-header{
        font-size: 200%;
        color: blue;
    }
}