html{
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


/* 
    Id = '#' 
    Class = '.'

    border-style: dotted dashed solid double; 
        ^^^ Można dodać dla każdego boku inny styl ramki ^^^
*/

/* 
    margin: 25px 50px 75px;
        top margin is 25px
        right and left margins are 50px
        bottom margin is 75px
*/

/* Header section */
#main-header-container{
    background-image: url("/src/main/resources/images/images/robots_running_shopping.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100vw;
   
    background-color: rgba(255, 255, 255, 0.096);
    font-size: 25vh;
    font-weight: bolder;
    color: #000;
    text-align: center;
    margin: 50px auto 25px; /* Margin top-horizontal-bottom*/
    padding: 0 auto;
}


/* Navigation bar */
#nav-container{
    background-color: #fff;
    margin: 25px 0;
    border: 2px double #000;
    padding: 0;
}
.navbar-tiles{
    background-color: rgba(65, 105, 225, 0.205);
    max-width: 51vw !important; 
    margin: 2px 0 2px 10px;
    padding: 15px auto;
    text-align: left;
    text-decoration: none;
    border: 2px inset #000;
}
.navbar-tiles:hover{
    background-color: rgba(65, 105, 225, 0.2);
    font-weight: bolder;
}

/* Shopping List page */
.product-tile{
    width: 100%;
    background-color: #f5f85559;
    color: black;
    border: 2px solid #2a2b16; 
    border-radius: 2px;
    margin: 5px 0;
    }
.product-tile:hover {
    background-color: #f5f855d5; 
    color: #000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.del-product-btn{
    background-color: #ffffff00;
    color: #2a2b16;
    border: none;
}
.del-product-btn:hover{
    color: #ff0707d3;
}


  /* Product Form */
  .form-label{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .form-field{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .delete-product-icon{
    text-decoration: none;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
  }


@media screen and (max-width: 576px) {
    #main-header{
        font-size: 80%;
    }
}

/* ^^^ Why is this size duplicated? ^^^ */
@media screen and (min-width: 576px) {
    #main-header{
        font-size: 100%;
    }
}

@media screen and (min-width: 768px) {
    #main-header{
        font-size: 120%;
    }
    .navbar-tiles{
        text-align: center;
        margin: 0 auto;
    }

      /* Product Form */
    .form-label{
        width: 24%;
        margin: 0;
        padding: 0;
    }
    .form-field{
        width: 74%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    #main-header{
        font-size: 150%;
    }
}

@media screen and (min-width: 1200px) {
    #main-header{
        font-size: 180%;
    }
}

@media screen and (min-width: 1400px) {
    #main-header{
        font-size: 200%;
        color: blue;
    }
}