<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="Spring Shopping Bot">
    <meta name="keywords" content="Shopping, List, Bot, Application, Web, Java, Spring, UiPath, Automation">
    <meta name="author" content="Tomasz Woloszyn">

    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!--  Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- Bootstrap Modals -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title>Spring Shopping Bot</title>
</head>
<body id="background-image">

    <header class="row container mx-auto" th:fragment="header">
        <div class="col-md-12 text-md-center">
            <span id="main-header-container" class="px-auto">
                Spring Shopping Bot
            </span>
        </div>
    </header>


    <div class="container mx-auto px-auto" >

    <!--  Navbar  -->
    <div class="row container mx-auto"
            id="nav-container" th:fragment="navbar">
        <a class="col-sm-12 col-md-2 navbar-tiles nav-link"
            href="home.html" th:href="@{/home}">
            <span class="navbar-text">Home</span>
            
            <!-- <div class="nav-separator"></div> -->
        </a>
        <a class="col-sm-12 col-md-2 navbar-tiles nav-link"
                href="shoppingList.html" th:href="@{/shoppingList}">
            <span class="navbar-text">Shopping List</span>
        </a>
        <!-- <div class="nav-separator "></div> -->
        <div class="col-sm-12 col-md-2 nav-link
                    --bs-primary-bg-light">
            <!-- <div class="nav-separator"></div> -->
        </div>
        <div class="col-sm-12 col-md-2 nav-link
        --bs-primary-bg-light">
        <!-- <div class="nav-separator"></div> -->
        </div>
        <!-- Logged-in User -->
        <div th:unless="${isLoggedIn}" class="col-md-4 mx-0 px-0">
            <div class="row mx-0 px-0">
                <a class="col-sm-12 col-md-6 navbar-tiles nav-link mx-0 px-0"
                    th:href="@{/register}">
                    <span class="navbar-text">Register</span>
                </a>
                <a th:unless="${isLoggedIn}" class="col-sm-12 col-md-6 navbar-tiles nav-link mx-0 px-0"
                    th:href="@{/login}">
                    <span class="navbar-text">Login</span>
                </a>
            </div>
        </div>
        <!-- Visible only to logged-in users -->
        <div th:if="${isLoggedIn}" class="col-md-4 mx-0 px-0">
            <div class="row mx-0 px-0">
                <a class="col-sm-12 col-md-6 navbar-tiles nav-link mx-0 px-0"
                    th:href="@{/userAccountPage}">
                    <span class="navbar-text" th:text="${'Welcome: '+username}"></span>
                </a>
                <a class="col-sm-12 col-md-6 navbar-tiles nav-link mx-0 px-0"
                    th:href="@{/api/auth/logout}" th:if="${isLoggedIn}">
                    <span class="navbar-text">Logout</span>
                </a>
            </div>
        </div>

    </div>


    <!--  Main Content  -->
    <div class="row container px-0 mx-0 mx-md-auto">

        <!-- Left panel -->
        <div class="col-md-2 mx-0 main-panels">
            <!-- Left panel placeholder-->
        </div>

        <!-- Central Panel -->
        <div class="col-md-8 mx-0 mt-3 px-0">
            <div class="row">
                <div class="mx-0 horizontal-pars">
                    <h2 class="page-title">
                        Welcome to the <br> Spring Shopping Bot 
                    </h2>
                    <h5 class="text-center mx-auto mb-5 mt-4 px-auto">Your Smart Shopping Assistant</h5>
                    <p class="col home-page-paragraphs my-4">
                        Spring Shopping Bot makes grocery shopping easy! It automatically 
                        compares prices across top Irish supermarkets, so you always get the 
                        best deals—without the hassle of manual searching.
                    </p>
                    
                    <h5 class="home-page-headers mt-3">How It Works</h5>

                    <p class="col home-page-paragraphs">
                        <ul>
                            <li>
                                Create Your List – Add items to your shopping list in just a few clicks.
                            </li>
                            <li>
                                Automatic Price Check – Our bot scans supermarket websites for the latest prices.
                            </li>
                            <li>
                                Get the Best Deals – View a report with the cheapest options and shop smarter!
                            </li>
                        </ul>
                    </p>

                    <h5 class="home-page-headers">Why Choose Spring Shopping Bot?</h5>
                    <p class="col home-page-paragraphs">
                        The app not only saves you time by eliminating manual 
                        searches but also ensures you get the best deals available, 
                        optimizing your shopping routine. Whether you're looking 
                        for everyday groceries or special items, Spring Shopping Bot 
                        is your go-to tool for hassle-free and cost-effective 
                        shopping.

                        Try Spring Shopping Bot today and experience smarter shopping, 
                        powered by automation!
                    </p>
                </div>
            </div>
            <!-- Button -->    
            <div class="row mx-auto px-auto mb-5 horizontal-pars">
                <a type="button" class="btn btn-primary mx-auto"
                    href="shoppingList.html" th:href="@{/shoppingList}">
                    Go to the shopping list
                </a>
            </div>
        </div>

        <!-- Right panel -->
        <div class="col-md-2">
            <!-- Right panel placeholder-->
        </div>
    </div>
</div>
</body>
</html>