<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>

    <div class="container my-5 px-0">
        <div class="container row my-2 mx-auto p-2">
            <div class="col-6 offset-3 px-auto">
                <h2 class="page-title">Login to your account</h2>
                <div class="container row my-2 mx-auto p-2 mb-3">
                    <div class="col-12 px-auto">
                        <!--/*@thymesVar id="loginDto" type="com.springShoppingBot.SpringShoppingBot.security.LoginDto"*/-->
                        <form th:action="@{/api/auth/login}" th:object="${loginDto}" th:method="post" class="row">
                            <fieldset class="col-12 px-0 form-group" required>
                                <label class="form-label" for="username">Username</label>
                                <input class="form-field" id="username" type="text" name="username">
                            </fieldset>
                            <fieldset class="col-12 px-0 form-group">
                                <label class="form-label" for="userpassword">Password</label>
                                <input class="form-field" id="userpassword" type="text" name="userpassword">
                            </fieldset>
                            <!-- Submit login-->
                             <div class="col-12 px-auto">
                                 <button class="btn btn-lg btn-success 
                                                center mt-2" type="submit">
                                    Login
                                </button><!-- Button trigger modal -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-2 px-auto">        
                <p class="mx-auto px-auto">
                    Don't have a user account yet?
                    Create one.
                </p>
            </div>
        </div>
    </div>

    <!-- Bootstrap Modal for Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="errorModalLabel">Login Failed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Invalid username or password. Please try again.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Check if the login failed (Spring Security appends `?error=true` to the URL)
        window.onload = function () {
            const params = new URLSearchParams(window.location.search);
            if (params.get("error")) {
                console.log("Login error received!");
                let errorModal = new bootstrap.Modal(document.getElementById("errorModal"));
                errorModal.show();
            }
        };
    </script>

</body>
</html>