<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>

    <div class="container my-5 px-0">
        <div class="container row my-2 mx-auto p-2">
            <div class="col-6 offset-3 px-auto">
                <h2 class="page-title">Register New User</h2>
                <div class="container row my-2 mx-auto p-2 mb-3">
                    <div class="col-12 px-auto">
                        <!--/*@thymesVar id="registerDto" type="com.springShoppingBot.SpringShoppingBot.security.RegisterDto"*/-->
                        <form th:action="@{/api/auth/register}" th:object="${registerDto}" th:method="post" class="row">
                            <fieldset class="col-12 px-0 form-group" required>
                                <label class="form-label" for="username">Username</label>
                                <input class="form-field" id="username" type="text" name="username">
                            </fieldset>
                            <fieldset class="col-12 px-0 form-group">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-field" id="password" type="text" name="password">
                            </fieldset>
                            <fieldset class="col-12 px-0 form-group">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-field" id="email" type="text" name="email">
                            </fieldset>
                            <!-- Submit new User-->
                             <div class="col-12 px-auto">
                                 <button class="btn btn-lg btn-success 
                                                mx-auto px-auto mt-2" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-2 px-auto">        
                <p class="mx-auto px-auto">
                    Don't have a user account yet?
                    Create one.
                </p>
            </div>
        </div>
    </div>

</body>
</html>