<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body>
    <header class="col-12 mx-0 px-0">
        <div id="main-header" href="*">
            Shopping guide
        </div>
    </header>

    <!--  Navbar  -->
    <div class="col-12 px-0 mx-0">
        <div class="row container px-0 mx-auto">
            <a class="col-sm-6 col-md-2 mx-auto"
               href="*">
                Home
                <!-- <div class="nav-separator"></div> -->
            </a>
            <a class="col-sm-12 col-md-3 mx-auto"
               href="*">
                Shopping List
            </a>
            <!-- <div class="nav-separator "></div> -->
            <a class="col-sm-6 col-md-2 mx-auto navbar-tiles"
               href="*">
                Login
                <!-- <div class="nav-separator"></div> -->
            </a>
        </div>
    </div>

</body>
</html>