<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>


    <!-- Shopping List -->
    <div class="container my-5 px-0">

        <!-- Products tiles -->
        <div class="container mx-0" id="list-container">
            <div id="product-container"><!-- row mx-0 px-0 -->
                <div class="" id="product-wrapper" th:each="product : ${products}"
                     th:sort="${product.getId()}"><!-- col-sm-6 col-md-3 col-lg-2 px-1 mx-0 -->
                    <div class="product-tile">
             
                        <span class="product-text"                                
                            th:text="${product.getName} + ' ' 
                                + ${product.getType} + ' ' 
                                + ${product.getSizeOfUnit}">
                        </span>
                        <a class="del-product-btn
                                d-flex justify-content-center align-items-center"
                                th:href="@{/product/deleteProduct/{id}(id=${product.getId()})}">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Form -->
        <div class="container row my-2 mx-auto p-2 mb-3">
            <div class="col-6 offset-3 px-auto" >
                <!--/*@thymesVar id="product" type="com.springShoppingBot.SpringShoppingBot.tempProduct.Product"*/-->
                <form th:action="@{/product/addNewProduct}" th:object="${product}" th:method="post"
                    class="row">
                    <legend class="col-12 text-center">Add product to list</legend>
                    <fieldset class="col-12 px-0 form-group" required>
                        <label class="form-label" for="name">Name *</label>
                        <input class="form-field" id="name" type="text" name="name" required>
                    </fieldset>
                    <fieldset class="col-12 px-0 form-group">
                        <label class="form-label" for="type">Type</label>
                        <input class="form-field" id="type" type="text" name="type">
                    </fieldset>
                    <fieldset class="col-12 px-0 form-group">
                        <label class="form-label" for="sizeOfUnit">Size</label>
                        <input class="form-field" id="sizeOfUnit" type="text" name="sizeOfUnit">
                    </fieldset>
                    <fieldset class="col-12 px-0 form-group" required>
                        <label class="form-label" for="numOfUnits">Quantity *</label>
                        <input class="form-field" id="numOfUnits" type="number" value="1" min="1" name="numOfUnits" required>
                        <div class="invalid-feedback">
                            Please enter a valid quantity greater than 0.
                        </div>
                    </fieldset>
                    <span class="col-12 blockquote fst-italic"
                        style="font-size: 12px; text-align: right;">
                        * Required fields
                    </span>
                    <!-- Add product to the Order button-->
                    <button class="col-md-6 offset-md-3
                        btn btn-lg btn-success mx-auto" type="submit">
                        Add
                    </button>
                </form>
                
                <!-- Submit the order button-->
                <div class="row">
                    <button class="col-md-6 offset-md-3 my-3
                        btn btn-lg btn-warning mx-auto"
                        data-bs-toggle="modal" data-bs-target="#submitOrderModal"
                        data-bs-whatever="@mdo">
                        Submit
                    </button>

                    <!-- Submit the order modal-->
                    <div class="modal fade" id="submitOrderModal" tabindex="-1"
                            aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Enter your email</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--/*@thymesVar id="order" type="com.springShoppingBot.SpringShoppingBot.order.Order"*/-->
                                <form th:action="@{/orderSummary}"
                                        th:object="${order}" th:method="post">
                                    <div class="mb-3">
                                        <label for="userEmail" class="col-form-label">Email:</label>
                                        <input type="text" class="form-control" id="userEmail" name="userEmail"
                                                required>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit Order</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                         Return
                                    </button>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>

                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            var submitButton = document.querySelector('[data-bs-target="#submitOrderModal"]');
                            if (submitButton) {
                                submitButton.addEventListener("click", function() {
                                    var modal = new bootstrap.Modal(document.getElementById("submitOrderModal"));
                                    modal.show();
                                });
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

</body>
</html>