<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>

    <div class="container">

        <div class="row mx-0 px-auto">
            <div class="col-6 offset-3 m-auto p-auto">
                <div class="row">
                    <h3 class="header mx-auto px-auto">Summary</h3>
                    <p>
                        <h4>List of products to process:</h4>
                        <div th:each="product : ${currentOrder.getListOfProducts}">
                            <div class="mx-3"
                                th:text="${product.getName} + ' ' + ${product.getType} 
                                       + ', size -  ' + ${product.getSizeOfUnit} 
                                       + ', quantity - ' + ${product.getNumOfUnits}">
                            </div>
                        </div>
                        <h4 class="mt-3 mb-1">Send results to: </h4>
                        <div class="mx-3" th:text="${currentOrder.getUserEmail}"></div>
                    </p>
                </div>
            </div>
        </div>
    
        <!-- Button -->    
        <div class="row mx-0 px-auto">
            <div class="offset-md-4 col-md-4 my-3 mx-auto">
                <a type="button" class="btn btn-primary btn-lg btn-block
                    px-auto mx-auto"
                    href="index.html" th:href="@{/home}">
                    Return to Home Page
                </a>
            </div>
        </div>
    
    </div>
    
</body>
</html>