<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>

    <div class="container my-5 px-0">
        <div class="container row my-2 mx-auto p-2">
            <div class="col-6 offset-3 px-auto">
                <h2 class="page-title">User Page</h2>
                <div class="container row my-2 mx-auto p-2 mb-3">
                    <div class="col-12 px-auto" >
        
                 
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>