<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<div th:insert="~{index.html :: head}"></div>

<body>
    
    <!--  Header  -->
    <div th:insert="~{index.html :: header}"></div>

    <!--  Navbar  -->
    <div th:insert="~{index.html :: navbar}"></div>

    <div class="container my-5 px-0">
        <div class="container row my-2 mx-auto p-2">
            <div class="col-6 offset-3 px-auto">
                <h2 class="page-title" >
                    <span class="navbar-text" th:text="${'Welcome: '+username}"></span>
                </h2>
                <div class="container row my-2 mx-auto p-2 mb-3">
                    <div class="col-12 px-auto" >
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <span class="user-detail-title" th:text="${'Name: '}"></span>
                        <span class="user-detail-text" 
                            th:text="${#strings.isEmpty(user.name) ? user.username : user.name}">
                        </span>
                        <span class="user-detail-title"   th:text="${'Role: '}"></span>
                        <span class="user-detail-text" th:each="role : ${user.roles}" th:text="${role.name}"></span>
                    </div>
                    <!-- <div class="col-12" th:each="role : ${user.roles}">
                        <span class="user-detail-text" th:text="${role.name}"></span>
                    </div> -->
                    <div class="col-12">
                        <span class="user-detail-title" th:text="${'Email: '}"></span>
                        <span class="user-detail-text" th:text="${user.getEmail()}"></span>
                    </div>
                    <!-- <div class="col-12">
                        <span class="user-detail-title" th:text="${'Password: '}"></span>
                        <span class="user-detail-text" th:text="${user.getPassword()}"></span>
                    </div> -->
                    <div class="col-12">
                        <span class="user-detail-title" th:text="${'Created at: '}"></span>
                        <span class="user-detail-text" th:text="${user.getCreatedAt()}"></span>
                    </div>
                    <div class="col-12">
                        <span class="user-detail-title" th:text="${'Updated at: '}"></span>
                        <span class="user-detail-text" th:text="${user.getUpdatedAt()}"></span>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>
</html>